.stepper-progress {
  width: 100%;
  display: flex;
  padding-top: 40px;

  .progress-line {
    width: 20%;
    margin-left: 3px;
    margin-right: 3px;
    background-color: #d9d9d9;
    height: 10px;

    &:first-child {
      border-radius: 6px 0 0 6px;
    }
  }

  .pass {
    background-color: #00ab8d;
  }
}

.stepper-status {
  margin-left: 10px;
  padding-top: 10px;
  font-size: 16px;
  font-family: "Sofia Pro";
  color: #363636;
}
