.container.mt-80 {
  margin-top: 78px;
  min-height: calc(100vh - 160px);

  .step-wrapper {
    margin-top: 20px;

    .step-title {
      font-family: "Sofia Pro", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 36px;
      color: #363636;
    }

    .step-subtitle {
      margin-top: 10px;
      font-family: "Sofia Pro", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      color: #363636;
    }

    .address-subtitle {
      font-family: "Sofia Pro", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      color: #363636;
      margin-top: 40px;
    }

    .address-label {
      font-size: 16px !important;
    }

    .address-input {
      font-size: 16px !important;
    }

    .check-input {
      width: 20px;
      height: 20px;
    }

    .check-label {
      font-family: "Sofia Pro", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      padding-left: 8px;
      line-height: 28px;
    }

    .step-input {
      font-family: "Sofia Pro", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      padding: 8px 15px;
      margin-top: 10px;
      border-radius: 4px;
      border: 2px solid gray;
      transition: all 0.4s;
      outline: none;

      &:focus {
        border: 2px solid #ffd744;
      }
    }

    .add-btn {
      font-family: "Sofia Pro", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      color: #363636;
      padding: 8px 30px;
      border: 2px solid #22549f;
      border-radius: 6px;
      background-color: transparent;
      transition: all 0.3s;

      &:hover {
        background-color: #22549f;
        color: white;
      }
    }
  }

  .exit-btn {
    border: none;
    outline: none;
    font-family: "Sofia Pro", sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: #22549f;
    background: transparent;
    transition: all 0.3s;
    border-bottom: 2px dashed transparent;

    &:hover {
      border-bottom: 2px dashed #22549f;
    }
  }

  .next-btn {
    border: none;
    outline: none;
    font-family: "Sofia Pro", sans-serif;
    font-size: 20px;
    line-height: 28px;
    padding: 12px 100px;
    border-radius: 4px;
    background-color: #ffd744;
    transition: all 0.3s;

    &:hover {
      box-shadow: 0 0 3px 0px grey;
    }

    &:active {
      box-shadow: none;
    }

    @media screen and (max-width: 768px) {
      padding: 12px 60px;
    }
  }
}
