<app-page-layout>
  <div class="container mt-80">
    <app-progress-bar *ngIf="isLoading"></app-progress-bar>

    <ng-container *ngIf="!isLoading">
      <div class="row justify-content-center h-100">
        <div class="col-10 col-md-6 hero-image">
          <div class="hero-section-content">
            <h4 class="hero-title">You’ve completed your quiz</h4>
            <p class="hero-text">
              We really appreciate that you took the time to log the answers to
              this quiz to the console as a javascript object!
            </p>
            <button class="hero-button" routerLink="/assessment">
              Take me to your leader
            </button>
          </div>
        </div>
        <div class="col-10 col-md-6 hero-section">
          <div class="d-flex justify-content-center align-items-center h-100">
            <img
              src="../../../assets/img/main_img.png"
              alt="main_image"
              class="hero-img"
            />
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</app-page-layout>
