<header class="navbar navbar-expand-md nga-navbar">
  <nav
    class="container d-flex justify-content-between"
    aria-label="Main navigation"
  >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="cart order-1 order-md-2"
      ><i class="fa-solid fa-cart-shopping icon-cart"></i> Cart
    </a>
    <div
      class="collapse navbar-collapse order-2 order-md-1"
      id="navbarCollapse"
    >
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page">Advice</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page">Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page">About Us</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
