.faq-container {
  margin: 100px 100px 0;
  overflow: hidden;
  border-radius: 4px;
  background-color: #d7eefa;
  .faq-wrapper {
    padding: 72px 120px 40px;
    background-color: #d7eefa;

    .faq-title {
      font-family: "Sofia Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 40px;
      color: #363636;
    }

    .accordion {
      margin-top: 10px;

      .accordion-item {
        border-bottom: 1px solid #363636;

        &:last-child {
          border-bottom: none;
        }
      }

      .accordion-button {
        background-color: #d7eefa;
        padding: 40px;
        font-family: "Sofia Pro", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        color: #363636;

        &:focus {
          outline: none;
          border: none;
          box-shadow: none;
        }

        &::after {
          content: "-";
          background-image: none;
          font-size: 40px;
          color: #22549f;
          margin-top: -10px;
          transform: none;
          padding-right: 30px;
        }

        &.collapsed::after {
          padding-right: 30px;
          content: "+";
          background-image: none;
          font-size: 40px;
          margin-top: -10px;
          color: #22549f;
        }
      }

      .accordion-body {
        background-color: #d7eefa;
        font-family: "Sofia Pro", sans-serif;
        font-size: 16px;
        color: #363636;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    margin-left: 18px;
    margin-right: 18px;

    .faq-wrapper {
      padding: 72px 30px 40px;
    }
  }

  @media screen and (max-width: 991px) {
    .faq-wrapper {
      padding-top: 50px;
      .faq-title {
        font-size: 26px;
      }

      .accordion {
        .accordion-button {
          font-size: 20px;
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }

      .accordion-body {
        font-size: 14px;
      }
    }
  }

  @media screen and (max-width: 576px) {
    margin-left: 0;
    margin-right: 0;
    .faq-wrapper {
      padding: 50px 20px 40px;

      .accordion {
        .accordion-button {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}
