.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: white;
  color: white;
  font-weight: 600;
  box-shadow: 0 0 3px 3px #eaecf0;
}
