.toolbar {
  top: 0;
  left: 0;
  right: 0;
  height: 166px;
  display: flex;
  align-items: center;
  background-color: white;
  font-weight: 600;
  // box-shadow: 0 0 3px 3px #eaecf0;

  .logo-img {
    width: 280px;
  }

  .tool-box {
    font-family: "Sofia Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #363636;
    .contact-us {
      padding-right: 36px;
      border-right: 1px solid #d9d9d9;
      display: inline-block;
      text-decoration: none;
      color: #363636;
      cursor: pointer;
      .icon-mail {
        margin-right: 17px;
      }
    }
    .user-name {
      padding-left: 36px;
    }
    .auth-btn {
      padding-left: 36px;
    }
  }

  @media screen and (max-width: 768px) {
    height: 120px;

    .logo-img {
      width: 200px;
    }

    .tool-box {
      .contact-us {
        padding-right: 10px;
        .icon-mail {
          margin-right: 10px;
        }
      }
      .user-name {
        padding-left: 10px;
      }
      .auth-btn {
        padding-left: 20px;
      }
    }
  }

  @media screen and (max-width: 576px) {
    height: 90px;

    .logo-img {
      width: 160px;
    }

    .tool-box {
      .contact-us {
        padding-right: 10px;
        .icon-mail {
          margin-right: 10px;
        }
      }
      .user-name {
        padding-left: 10px;
      }
      .auth-btn {
        display: none;
        padding-left: 10px;
      }
    }
  }
}
