<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <img
        alt="Helper Bee Logo"
        class="pl-4 logo-img"
        src="./../../../../../assets/img/logo.png"
      />
      <div class="tool-box">
        <a class="contact-us">
          <i class="fa-regular fa-envelope icon-mail"></i>Contact Us
        </a>
        <span class="user-name">Harry H.</span>
        <span class="auth-btn">Log out</span>
      </div>
    </div>
  </div>
</div>

<!-- NOTE Content -->
<ng-content></ng-content>
